# q1

In [3]:
my_name="zachary Nowfel"
print (my_name)

zachary Nowfel

# q2

In [3]:
my_id=12
print(my_id)

12

# q3

In [14]:
my_id_str=12
print(my_id_str)

12

# q4

In [15]:
my_name + my_id

TypeError: must be str, not int

It must be a string, not an integer. You cannot do string+integer

# q5

In [16]:
my_name + my_id_str

TypeError: must be str, not int

it must be a string, not an integer. You cannot do string+integer

# q6

In [19]:
a="hello, world. This is my first python string."

In [20]:
a.split(".")

['hello, world', ' This is my first python string', '']

# q7

In [22]:
str_list=['a','b','c','d','e']
str_list.sort()
print(str_list)

['a', 'b', 'c', 'd', 'e']

Yes, It can be sorted

# q8

In [23]:
str_list=['a','b','c','d','e']
str_list.append('f')
print(str_list)

['a', 'b', 'c', 'd', 'e', 'f']

# q9

In [24]:
str_list.remove("d")
print(str_list)

['a', 'b', 'c', 'e', 'f']

# q10

In [26]:
str_list[2]

'c'

# q11

In [11]:
num_list=[12,32,43,35]
print(num_list)

[12, 32, 43, 35]

In [28]:
str_list+num_list

['a', 'b', 'c', 'e', 'f', 12, 32, 43, 35]

# q12

In [4]:
my_dict={'name':'zachary','id':my_id}
print(my_dict)

{'name': 'zachary', 'id': 12}

# q13

In [33]:
my_dict['name']='nowfel'
print(my_dict)

{'name': 'nowfel', 'id': 12}

# q14

In [5]:
print(my_dict['id'])

12

# q15

In [9]:
my_dict['id'] = 24
print(my_dict['id'])

24

# q16

In [13]:
my_dict['num_list'] = num_list
print(my_dict)

{'name': 'zachary', 'id': 24, 'num_list': [12, 32, 43, 35]}

It added a new key, 'num_list' to the dictionary and the value became the lst that was connected to "num_list"

# q17

In [14]:
print(num_list[2])
print(num_list[0])

43
12